Screen {
    layers: below above;
    * {
        layer: below;
    }
}
ParMarkdown {
    height: 1fr;
    width: 1fr;
    border: solid $accent;
}

#log, #editor {
    height: 1fr;
    width: 1fr;
    border: solid $accent;
}
#info {
    height: 15;
    width: 1fr;
    border: solid $accent;
}
#tc {
    width: 1fr;
    height: 1fr;
}
